body {
  background-color: #f8f9fa;
}

/* .navbar {
  background-color: #ffffff; */
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
} */

.nav-item {
  background-color: rgb(224, 221, 221);
  margin-left: 1rem;
  border-radius: 25px;
}

.nav-item a {
  color: black;
  font-weight: 600;
}

#dashboard {
  background-color: rgb(0, 166, 82);
}

#dashboard a {
  color: white;
  font-weight: 600;
}

.logo{
  height: 1.5rem;
  width: 3.5rem;
  margin-bottom: 0.5rem;
}

.profile-card {
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.profile-card img {
  border-radius: 50%;
  width: 150px;
  margin: 1rem auto;
  /* margin-top: -50px; */
  background-color: #ffffff;
  padding: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card {
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* min-width: 20vw; */
  border-radius: 20px;
  flex-grow: 1;
}

.test-type{
  color: black;
  font-weight: 500;
  margin-top: 1rem;
}

.test-category{
  color:rgb(37, 133, 96);
  font-weight: 500;
  margin-top: -1rem;
}

.explore-btn{
  background-color: rgb(114, 176, 153);
  color: rgb(12, 77, 12);
  font-weight: 500;
  width: 109%;
  margin-bottom: -1rem;
  margin-left: -1rem;
  border-radius: 0 0 20px 20px;
}

.manage-btn {
  background-color: rgb(37, 133, 96);
  border-radius: 25px;
  color: white;
}

.exam-cart-heading {
  background-color: rgb(37, 133, 96);
  color: white;
  height: 3rem;
  padding: 10px;
  border-radius: 15px 15px 0 0;
}

.exam-card {
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.exam-card .progress {
  height: 10px;
}

.progress-fraction{
  color: rgb(0, 166, 82);
  background-color: rgb(220, 250, 236);
  width: 3rem;
  padding: 5px;
  text-align: center;
  border-radius: 25px;
  font-weight: 600;
}

.btn-link {
  position: absolute;
  padding: 5px;
  color: white;
  text-decoration: none;
  background-color: black;
  right: 10px;
  
}

.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
}
